/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>
#include "keys_de.h"

// Layer definitions
#define BASE 0
#define NUM 1
#define FNC 2
#define NAV 3
// -----------------

&mt {
    flavor = "balanced";
};

/ {
	keymap {
		compatible = "zmk,keymap";
		// Base alpha layer
		default_layer {
			label = "qwerty";
			bindings = <
			&kp Q         &kp W       &kp E      &kp R       &kp T                                 &kp Y     &kp U       &kp I      &kp O       &kp P
			&mt LSHIFT A  &mt LCTRL S &mt LALT D &mt LMETA F &mt ESC G                             &mt ESC H &mt RMETA J &mt RALT K &mt RCTRL L &mt RSHIFT SEMI
			&kp Z         &kp X       &kp C      &kp V       &kp B                                 &kp N     &kp M       &kp COMMA  &kp DOT     &kp SLASH
						                                     &lt 3 TAB &lt 1 SPACE    &lt 2 RETURN &kp BSPC
			>;
		};

		// Numbers and high frequency symbols
		num_layer {
			label = "numblock";
			bindings = <
            &kp GRAVE      &kp DE_U_UMLAUT  &kp DE_O_UMLAUT &kp DE_A_UMLAUT &kp DE_SZ		       &kp SLASH       &kp N7       &kp N8      &kp N9       &kp MINUS
			&mt LSHIFT SQT &mt LCTRL LBKT   &mt LALT LBRC   &mt LMETA LPAR  &kp TILDE              &kp ASTRK       &mt RMETA N4 &mt RALT N5 &mt RCTRL N6 &mt RSHIFT PLUS
			&kp DQT        &kp RBKT         &kp RBRC        &kp RPAR        &kp BSLH 	           &kp N0          &kp N1       &kp N2      &kp N3       &kp EQUAL
														               &trans &trans    &trans &trans
			>;
		};

		// Main modifiers and arrow keys
		fnc_layer {
			label = "fncblock";
			bindings = <
			&trans     &trans     &trans    &trans     &trans    	           &trans  &kp F7        &kp F8       &kp F9       &kp F10
			&kp LSHIFT &kp LCTRL  &kp LALT  &kp LMETA  &kp INS 			       &kp DEL &mt RMETA F4  &mt RALT F5  &mt RCTRL F6 &mt RSHIFT F11
			&trans     &trans     &trans    &trans     &trans                  &trans  &kp F1        &kp F2       &kp F3       &kp F12
													   &trans &trans    &trans &trans
			>;
		};

		// Function keys with modifiers
		nav_layer {
			label = "navigation";
			bindings = <
			&bt BT_SEL 0 &bt BT_SEL 1 &trans &kp C_VOLUME_UP         &out OUT_TOG                 &kp HOME       &kp PG_DN      &kp PG_UP    &kp END         &trans
			&trans       &trans       &trans &mt LMETA C_VOLUME_DOWN &trans                       &kp LEFT       &kp DOWN       &kp UP       &kp RIGHT       &msc SCRL_UP
			&bt BT_SEL 2 &bt BT_SEL 3 &trans &kp C_MUTE              &bt BT_CLR			          &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT &msc SCRL_DOWN
							                                         &trans &trans      &mkp LCLK &mkp RCLK
			>;
		};
	};
};
